* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}
body {
  width: 100%;
  min-width: 375px;
  min-height: 100vh;
}
.main-weather__container {
  background-color: #1E213A;
  height: 810px;
}
.main-weather__controls {
  width: 100%;
  padding: 18px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-weather__controls button {
  background-color:#6E707A;
  color: #E7E7EB;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border: none;
  padding: 10px 18px;
  font-size: 1.6rem; 
}
.main-weather__controls a {
  position: relative;
  background-color: #6E707A;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main-weather__controls a i {
  color: #E7E7EB;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
.main-weather__state {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-weather__state .background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -111px;
  width: 564px;
  opacity: 5%;
}
.main-weather__state div img {
  margin-top: 75px;
  width: 150px;
}
.main-temperature__display h2 {
  font-size: 14.4rem;
  font-weight: 500;
  color: #E7E7EB;
  margin-bottom: 23px;
}
h2 span {
  font-size: 5.6rem;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  color:#A09FB1;
}
.main-temperature__display > span {
  color: #A09FB1;
  font-weight: 600;
  display: block;
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 48px;
}
.main-temperature__display p {
  font-size: 1.8rem;
  color: #A09FB1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}
.main-temperature__display p span {
  margin: 0 16px;
}
.weather-stats__container {
  padding: 52px;
  background-color: #100E1D;
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 32px 26px;
  justify-content: center;
}
.weather-stats__item {
  background-color: #1E213A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.weather-stats__item h3 {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #E7E7EB;
  font-weight: 500;
}
.weather-stats__item img {
  width: 55px;
  margin-bottom: 30px;
}
.weather-stats__item div span {
  display: inline-block;
  color: #E7E7EB;
  font-size: 1.6rem;
  margin-right: 16px;
  font-weight: 500;
  margin-bottom: 18px;
}
.weather-stats__item div span:last-child {
  color: #A09FB1;
  margin: 0;
}